:root[data-theme="light"], [data-theme="light"] {
  --ttt-color-neutral-backdrop: #ebedef;
  --ttt-color-neutral-surface: #cbd2d9;
  --ttt-color-neutral-soft: #aeb9c4;
  --ttt-color-neutral-border: #8c9ead;
  --ttt-color-neutral-tone: #728496;
  --ttt-color-neutral-strong: #637280;
  --ttt-color-neutral-base: #53616e;
  --ttt-color-neutral-accent: #485461;
  --ttt-color-neutral-subtle: #3a444d;
  --ttt-color-neutral-muted: #293035;
  --ttt-color-neutral-content: #151a1e;
  --ttt-color-neutral-contrast: #ffffff;
  --ttt-color-neutral-gamma-50: #ebedef;
  --ttt-color-neutral-gamma-100: #cbd2d9;
  --ttt-color-neutral-gamma-200: #aeb9c4;
  --ttt-color-neutral-gamma-300: #8c9ead;
  --ttt-color-neutral-gamma-400: #728496;
  --ttt-color-neutral-gamma-500: #637280;
  --ttt-color-neutral-gamma-600: #53616e;
  --ttt-color-neutral-gamma-700: #485461;
  --ttt-color-neutral-gamma-800: #3a444d;
  --ttt-color-neutral-gamma-900: #293035;
  --ttt-color-neutral-gamma-950: #151a1e;
  --ttt-color-neutral-alpha-50: #5c62680a;
  --ttt-color-neutral-alpha-100: #5c62680f;
  --ttt-color-neutral-alpha-200: #5c626814;
  --ttt-color-neutral-alpha-300: #5c62681f;
  --ttt-color-neutral-alpha-400: #5c626829;
  --ttt-color-neutral-alpha-500: #5c62683d;
  --ttt-color-neutral-alpha-600: #5c62685c;
  --ttt-color-neutral-alpha-700: #5c62687a;
  --ttt-color-neutral-alpha-800: #5c6268a3;
  --ttt-color-neutral-alpha-900: #5c6268cc;
  --ttt-color-neutral-alpha-950: #5c6268eb;
  --ttt-color-accent-backdrop: #e6edf9;
  --ttt-color-accent-surface: #bed2f4;
  --ttt-color-accent-soft: #96b9f1;
  --ttt-color-accent-border: #689bed;
  --ttt-color-accent-tone: #3a7ee8;
  --ttt-color-accent-strong: #1267e4;
  --ttt-color-accent-base: #0c57c3;
  --ttt-color-accent-accent: #0a4caa;
  --ttt-color-accent-subtle: #063d8b;
  --ttt-color-accent-muted: #032c64;
  --ttt-color-accent-content: #01183b;
  --ttt-color-accent-contrast: #ffffff;
  --ttt-color-accent-gamma-50: #e6edf9;
  --ttt-color-accent-gamma-100: #bed2f4;
  --ttt-color-accent-gamma-200: #96b9f1;
  --ttt-color-accent-gamma-300: #689bed;
  --ttt-color-accent-gamma-400: #3a7ee8;
  --ttt-color-accent-gamma-500: #1267e4;
  --ttt-color-accent-gamma-600: #0c57c3;
  --ttt-color-accent-gamma-700: #0a4caa;
  --ttt-color-accent-gamma-800: #063d8b;
  --ttt-color-accent-gamma-900: #032c64;
  --ttt-color-accent-gamma-950: #01183b;
  --ttt-color-accent-alpha-50: #005ac90a;
  --ttt-color-accent-alpha-100: #005ac90f;
  --ttt-color-accent-alpha-200: #005ac914;
  --ttt-color-accent-alpha-300: #005ac91f;
  --ttt-color-accent-alpha-400: #005ac929;
  --ttt-color-accent-alpha-500: #005ac93d;
  --ttt-color-accent-alpha-600: #005ac95c;
  --ttt-color-accent-alpha-700: #005ac97a;
  --ttt-color-accent-alpha-800: #005ac9a3;
  --ttt-color-accent-alpha-900: #005ac9cc;
  --ttt-color-accent-alpha-950: #005ac9eb;
  --ttt-color-safe-backdrop: #d4f8d7;
  --ttt-color-safe-surface: #5bf47d;
  --ttt-color-safe-soft: #1edb5c;
  --ttt-color-safe-border: #0fba4b;
  --ttt-color-safe-tone: #0b9c3e;
  --ttt-color-safe-strong: #088735;
  --ttt-color-safe-base: #05732c;
  --ttt-color-safe-accent: #046425;
  --ttt-color-safe-subtle: #02511c;
  --ttt-color-safe-muted: #013a11;
  --ttt-color-safe-content: #012107;
  --ttt-color-safe-contrast: #ffffff;
  --ttt-color-safe-gamma-50: #d4f8d7;
  --ttt-color-safe-gamma-100: #5bf47d;
  --ttt-color-safe-gamma-200: #1edb5c;
  --ttt-color-safe-gamma-300: #0fba4b;
  --ttt-color-safe-gamma-400: #0b9c3e;
  --ttt-color-safe-gamma-500: #088735;
  --ttt-color-safe-gamma-600: #05732c;
  --ttt-color-safe-gamma-700: #046425;
  --ttt-color-safe-gamma-800: #02511c;
  --ttt-color-safe-gamma-900: #013a11;
  --ttt-color-safe-gamma-950: #012107;
  --ttt-color-safe-alpha-50: #11762d0a;
  --ttt-color-safe-alpha-100: #11762d0f;
  --ttt-color-safe-alpha-200: #11762d14;
  --ttt-color-safe-alpha-300: #11762d1f;
  --ttt-color-safe-alpha-400: #11762d29;
  --ttt-color-safe-alpha-500: #11762d3d;
  --ttt-color-safe-alpha-600: #11762d5c;
  --ttt-color-safe-alpha-700: #11762d7a;
  --ttt-color-safe-alpha-800: #11762da3;
  --ttt-color-safe-alpha-900: #11762dcc;
  --ttt-color-safe-alpha-950: #11762deb;
  --ttt-color-info-backdrop: #e3eff8;
  --ttt-color-info-surface: #b2d6f3;
  --ttt-color-info-soft: #7dbff1;
  --ttt-color-info-border: #36a4ec;
  --ttt-color-info-tone: #1189cd;
  --ttt-color-info-strong: #0e77b2;
  --ttt-color-info-base: #0a6598;
  --ttt-color-info-accent: #075885;
  --ttt-color-info-subtle: #05476c;
  --ttt-color-info-muted: #033250;
  --ttt-color-info-content: #011b2f;
  --ttt-color-info-contrast: #ffffff;
  --ttt-color-info-gamma-50: #e3eff8;
  --ttt-color-info-gamma-100: #b2d6f3;
  --ttt-color-info-gamma-200: #7dbff1;
  --ttt-color-info-gamma-300: #36a4ec;
  --ttt-color-info-gamma-400: #1189cd;
  --ttt-color-info-gamma-500: #0e77b2;
  --ttt-color-info-gamma-600: #0a6598;
  --ttt-color-info-gamma-700: #075885;
  --ttt-color-info-gamma-800: #05476c;
  --ttt-color-info-gamma-900: #033250;
  --ttt-color-info-gamma-950: #011b2f;
  --ttt-color-info-alpha-50: #1867980a;
  --ttt-color-info-alpha-100: #1867980f;
  --ttt-color-info-alpha-200: #18679814;
  --ttt-color-info-alpha-300: #1867981f;
  --ttt-color-info-alpha-400: #18679829;
  --ttt-color-info-alpha-500: #1867983d;
  --ttt-color-info-alpha-600: #1867985c;
  --ttt-color-info-alpha-700: #1867987a;
  --ttt-color-info-alpha-800: #186798a3;
  --ttt-color-info-alpha-900: #186798cc;
  --ttt-color-info-alpha-950: #186798eb;
  --ttt-color-warning-backdrop: #fce9d8;
  --ttt-color-warning-surface: #fec488;
  --ttt-color-warning-soft: #fd9f1f;
  --ttt-color-warning-border: #d88612;
  --ttt-color-warning-tone: #b56f10;
  --ttt-color-warning-strong: #9d600c;
  --ttt-color-warning-base: #865107;
  --ttt-color-warning-accent: #754606;
  --ttt-color-warning-subtle: #5f3804;
  --ttt-color-warning-muted: #452702;
  --ttt-color-warning-content: #281401;
  --ttt-color-warning-contrast: #ffffff;
  --ttt-color-warning-gamma-50: #fce9d8;
  --ttt-color-warning-gamma-100: #fec488;
  --ttt-color-warning-gamma-200: #fd9f1f;
  --ttt-color-warning-gamma-300: #d88612;
  --ttt-color-warning-gamma-400: #b56f10;
  --ttt-color-warning-gamma-500: #9d600c;
  --ttt-color-warning-gamma-600: #865107;
  --ttt-color-warning-gamma-700: #754606;
  --ttt-color-warning-gamma-800: #5f3804;
  --ttt-color-warning-gamma-900: #452702;
  --ttt-color-warning-gamma-950: #281401;
  --ttt-color-warning-alpha-50: #89530d0a;
  --ttt-color-warning-alpha-100: #89530d0f;
  --ttt-color-warning-alpha-200: #89530d14;
  --ttt-color-warning-alpha-300: #89530d1f;
  --ttt-color-warning-alpha-400: #89530d29;
  --ttt-color-warning-alpha-500: #89530d3d;
  --ttt-color-warning-alpha-600: #89530d5c;
  --ttt-color-warning-alpha-700: #89530d7a;
  --ttt-color-warning-alpha-800: #89530da3;
  --ttt-color-warning-alpha-900: #89530dcc;
  --ttt-color-warning-alpha-950: #89530deb;
  --ttt-color-alert-backdrop: #fde7e3;
  --ttt-color-alert-surface: #ffbeb4;
  --ttt-color-alert-soft: #ff9180;
  --ttt-color-alert-border: #ff4e3f;
  --ttt-color-alert-tone: #f3000f;
  --ttt-color-alert-strong: #d4000a;
  --ttt-color-alert-base: #b50007;
  --ttt-color-alert-accent: #9e0006;
  --ttt-color-alert-subtle: #820003;
  --ttt-color-alert-muted: #5f0003;
  --ttt-color-alert-content: #380001;
  --ttt-color-alert-contrast: #ffffff;
  --ttt-color-alert-gamma-50: #fde7e3;
  --ttt-color-alert-gamma-100: #ffbeb4;
  --ttt-color-alert-gamma-200: #ff9180;
  --ttt-color-alert-gamma-300: #ff4e3f;
  --ttt-color-alert-gamma-400: #f3000f;
  --ttt-color-alert-gamma-500: #d4000a;
  --ttt-color-alert-gamma-600: #b50007;
  --ttt-color-alert-gamma-700: #9e0006;
  --ttt-color-alert-gamma-800: #820003;
  --ttt-color-alert-gamma-900: #5f0003;
  --ttt-color-alert-gamma-950: #380001;
  --ttt-color-alert-alpha-50: #bc00070a;
  --ttt-color-alert-alpha-100: #bc00070f;
  --ttt-color-alert-alpha-200: #bc000714;
  --ttt-color-alert-alpha-300: #bc00071f;
  --ttt-color-alert-alpha-400: #bc000729;
  --ttt-color-alert-alpha-500: #bc00073d;
  --ttt-color-alert-alpha-600: #bc00075c;
  --ttt-color-alert-alpha-700: #bc00077a;
  --ttt-color-alert-alpha-800: #bc0007a3;
  --ttt-color-alert-alpha-900: #bc0007cc;
  --ttt-color-alert-alpha-950: #bc0007eb;
  --ttt-color-content-strong: #151a1e;
  --ttt-color-content-regular: #293035;
  --ttt-color-content-subtle: #485461;
  --ttt-color-content-muted: #637280;
  --ttt-color-background-regular: #ffffff;
  --ttt-color-background-subtle: #ebedef;
  --ttt-color-background-muted: #cbd2d9;
}

:root[data-theme="dark"], [data-theme="dark"] {
  --ttt-color-neutral-backdrop: #080a0c;
  --ttt-color-neutral-surface: #121518;
  --ttt-color-neutral-soft: #20262b;
  --ttt-color-neutral-border: #2f363f;
  --ttt-color-neutral-tone: #3f4952;
  --ttt-color-neutral-strong: #64727f;
  --ttt-color-neutral-base: #505b65;
  --ttt-color-neutral-accent: #778795;
  --ttt-color-neutral-subtle: #98a5b2;
  --ttt-color-neutral-muted: #bfc7cf;
  --ttt-color-neutral-content: #e4e6ea;
  --ttt-color-neutral-contrast: #ffffff;
  --ttt-color-neutral-gamma-50: #080a0c;
  --ttt-color-neutral-gamma-100: #121518;
  --ttt-color-neutral-gamma-200: #20262b;
  --ttt-color-neutral-gamma-300: #2f363f;
  --ttt-color-neutral-gamma-400: #3f4952;
  --ttt-color-neutral-gamma-500: #505b65;
  --ttt-color-neutral-gamma-600: #64727f;
  --ttt-color-neutral-gamma-700: #778795;
  --ttt-color-neutral-gamma-800: #98a5b2;
  --ttt-color-neutral-gamma-900: #bfc7cf;
  --ttt-color-neutral-gamma-950: #e4e6ea;
  --ttt-color-neutral-alpha-50: #7b92a70a;
  --ttt-color-neutral-alpha-100: #7b92a70f;
  --ttt-color-neutral-alpha-200: #7b92a714;
  --ttt-color-neutral-alpha-300: #7b92a71f;
  --ttt-color-neutral-alpha-400: #7b92a729;
  --ttt-color-neutral-alpha-500: #7b92a73d;
  --ttt-color-neutral-alpha-600: #7b92a75c;
  --ttt-color-neutral-alpha-700: #7b92a77a;
  --ttt-color-neutral-alpha-800: #7b92a7a3;
  --ttt-color-neutral-alpha-900: #7b92a7cc;
  --ttt-color-neutral-alpha-950: #7b92a7eb;
  --ttt-color-accent-backdrop: #01091c;
  --ttt-color-accent-surface: #021331;
  --ttt-color-accent-soft: #042251;
  --ttt-color-accent-border: #08326f;
  --ttt-color-accent-tone: #0e4392;
  --ttt-color-accent-strong: #1b66d9;
  --ttt-color-accent-base: #1453b3;
  --ttt-color-accent-accent: #4582e2;
  --ttt-color-accent-subtle: #78a4ea;
  --ttt-color-accent-muted: #aec7f0;
  --ttt-color-accent-content: #dde7f6;
  --ttt-color-accent-contrast: #ffffff;
  --ttt-color-accent-gamma-50: #01091c;
  --ttt-color-accent-gamma-100: #021331;
  --ttt-color-accent-gamma-200: #042251;
  --ttt-color-accent-gamma-300: #08326f;
  --ttt-color-accent-gamma-400: #0e4392;
  --ttt-color-accent-gamma-500: #1453b3;
  --ttt-color-accent-gamma-600: #1b66d9;
  --ttt-color-accent-gamma-700: #4582e2;
  --ttt-color-accent-gamma-800: #78a4ea;
  --ttt-color-accent-gamma-900: #aec7f0;
  --ttt-color-accent-gamma-950: #dde7f6;
  --ttt-color-accent-alpha-50: #4a83ff0a;
  --ttt-color-accent-alpha-100: #4a83ff0f;
  --ttt-color-accent-alpha-200: #4a83ff14;
  --ttt-color-accent-alpha-300: #4a83ff1f;
  --ttt-color-accent-alpha-400: #4a83ff29;
  --ttt-color-accent-alpha-500: #4a83ff3d;
  --ttt-color-accent-alpha-600: #4a83ff5c;
  --ttt-color-accent-alpha-700: #4a83ff7a;
  --ttt-color-accent-alpha-800: #4a83ffa3;
  --ttt-color-accent-alpha-900: #4a83ffcc;
  --ttt-color-accent-alpha-950: #4a83ffeb;
  --ttt-color-safe-backdrop: #010e03;
  --ttt-color-safe-surface: #011b06;
  --ttt-color-safe-soft: #022e0d;
  --ttt-color-safe-border: #024216;
  --ttt-color-safe-tone: #055720;
  --ttt-color-safe-strong: #0b8735;
  --ttt-color-safe-base: #056c29;
  --ttt-color-safe-accent: #109f40;
  --ttt-color-safe-subtle: #15c351;
  --ttt-color-safe-muted: #37eb69;
  --ttt-color-safe-content: #c0f7c6;
  --ttt-color-safe-contrast: #ffffff;
  --ttt-color-safe-gamma-50: #010e03;
  --ttt-color-safe-gamma-100: #011b06;
  --ttt-color-safe-gamma-200: #022e0d;
  --ttt-color-safe-gamma-300: #024216;
  --ttt-color-safe-gamma-400: #055720;
  --ttt-color-safe-gamma-500: #056c29;
  --ttt-color-safe-gamma-600: #0b8735;
  --ttt-color-safe-gamma-700: #109f40;
  --ttt-color-safe-gamma-800: #15c351;
  --ttt-color-safe-gamma-900: #37eb69;
  --ttt-color-safe-gamma-950: #c0f7c6;
  --ttt-color-safe-alpha-50: #28a94e0a;
  --ttt-color-safe-alpha-100: #28a94e0f;
  --ttt-color-safe-alpha-200: #28a94e14;
  --ttt-color-safe-alpha-300: #28a94e1f;
  --ttt-color-safe-alpha-400: #28a94e29;
  --ttt-color-safe-alpha-500: #28a94e3d;
  --ttt-color-safe-alpha-600: #28a94e5c;
  --ttt-color-safe-alpha-700: #28a94e7a;
  --ttt-color-safe-alpha-800: #28a94ea3;
  --ttt-color-safe-alpha-900: #28a94ecc;
  --ttt-color-safe-alpha-950: #28a94eeb;
  --ttt-color-info-backdrop: #010b17;
  --ttt-color-info-surface: #011727;
  --ttt-color-info-soft: #012840;
  --ttt-color-info-border: #00395a;
  --ttt-color-info-tone: #014c76;
  --ttt-color-info-strong: #0077b4;
  --ttt-color-info-base: #005f91;
  --ttt-color-info-accent: #028cd4;
  --ttt-color-info-subtle: #48acf0;
  --ttt-color-info-muted: #9bccf3;
  --ttt-color-info-content: #d7e9f7;
  --ttt-color-info-contrast: #ffffff;
  --ttt-color-info-gamma-50: #010b17;
  --ttt-color-info-gamma-100: #011727;
  --ttt-color-info-gamma-200: #012840;
  --ttt-color-info-gamma-300: #00395a;
  --ttt-color-info-gamma-400: #014c76;
  --ttt-color-info-gamma-500: #005f91;
  --ttt-color-info-gamma-600: #0077b4;
  --ttt-color-info-gamma-700: #028cd4;
  --ttt-color-info-gamma-800: #48acf0;
  --ttt-color-info-gamma-900: #9bccf3;
  --ttt-color-info-gamma-950: #d7e9f7;
  --ttt-color-info-alpha-50: #2b96de0a;
  --ttt-color-info-alpha-100: #2b96de0f;
  --ttt-color-info-alpha-200: #2b96de14;
  --ttt-color-info-alpha-300: #2b96de1f;
  --ttt-color-info-alpha-400: #2b96de29;
  --ttt-color-info-alpha-500: #2b96de3d;
  --ttt-color-info-alpha-600: #2b96de5c;
  --ttt-color-info-alpha-700: #2b96de7a;
  --ttt-color-info-alpha-800: #2b96dea3;
  --ttt-color-info-alpha-900: #2b96decc;
  --ttt-color-info-alpha-950: #2b96deeb;
  --ttt-color-warning-backdrop: #120701;
  --ttt-color-warning-surface: #211001;
  --ttt-color-warning-soft: #381e01;
  --ttt-color-warning-border: #4e2c02;
  --ttt-color-warning-tone: #673c03;
  --ttt-color-warning-strong: #9d6009;
  --ttt-color-warning-base: #7e4c07;
  --ttt-color-warning-accent: #b9720d;
  --ttt-color-warning-subtle: #e38c12;
  --ttt-color-warning-muted: #ffb35d;
  --ttt-color-warning-content: #fce1c7;
  --ttt-color-warning-contrast: #ffffff;
  --ttt-color-warning-gamma-50: #120701;
  --ttt-color-warning-gamma-100: #211001;
  --ttt-color-warning-gamma-200: #381e01;
  --ttt-color-warning-gamma-300: #4e2c02;
  --ttt-color-warning-gamma-400: #673c03;
  --ttt-color-warning-gamma-500: #7e4c07;
  --ttt-color-warning-gamma-600: #9d6009;
  --ttt-color-warning-gamma-700: #b9720d;
  --ttt-color-warning-gamma-800: #e38c12;
  --ttt-color-warning-gamma-900: #ffb35d;
  --ttt-color-warning-gamma-950: #fce1c7;
  --ttt-color-warning-alpha-50: #c27d200a;
  --ttt-color-warning-alpha-100: #c27d200f;
  --ttt-color-warning-alpha-200: #c27d2014;
  --ttt-color-warning-alpha-300: #c27d201f;
  --ttt-color-warning-alpha-400: #c27d2029;
  --ttt-color-warning-alpha-500: #c27d203d;
  --ttt-color-warning-alpha-600: #c27d205c;
  --ttt-color-warning-alpha-700: #c27d207a;
  --ttt-color-warning-alpha-800: #c27d20a3;
  --ttt-color-warning-alpha-900: #c27d20cc;
  --ttt-color-warning-alpha-950: #c27d20eb;
  --ttt-color-alert-backdrop: #1b0101;
  --ttt-color-alert-surface: #2f0202;
  --ttt-color-alert-soft: #4c0303;
  --ttt-color-alert-border: #680606;
  --ttt-color-alert-tone: #890a0a;
  --ttt-color-alert-strong: #d01415;
  --ttt-color-alert-base: #a80e0f;
  --ttt-color-alert-accent: #f41b17;
  --ttt-color-alert-subtle: #ff6957;
  --ttt-color-alert-muted: #ffaca1;
  --ttt-color-alert-content: #fdded9;
  --ttt-color-alert-contrast: #ffffff;
  --ttt-color-alert-gamma-50: #1b0101;
  --ttt-color-alert-gamma-100: #2f0202;
  --ttt-color-alert-gamma-200: #4c0303;
  --ttt-color-alert-gamma-300: #680606;
  --ttt-color-alert-gamma-400: #890a0a;
  --ttt-color-alert-gamma-500: #a80e0f;
  --ttt-color-alert-gamma-600: #d01415;
  --ttt-color-alert-gamma-700: #f41b17;
  --ttt-color-alert-gamma-800: #ff6957;
  --ttt-color-alert-gamma-900: #ffaca1;
  --ttt-color-alert-gamma-950: #fdded9;
  --ttt-color-alert-alpha-50: #fb3e280a;
  --ttt-color-alert-alpha-100: #fb3e280f;
  --ttt-color-alert-alpha-200: #fb3e2814;
  --ttt-color-alert-alpha-300: #fb3e281f;
  --ttt-color-alert-alpha-400: #fb3e2829;
  --ttt-color-alert-alpha-500: #fb3e283d;
  --ttt-color-alert-alpha-600: #fb3e285c;
  --ttt-color-alert-alpha-700: #fb3e287a;
  --ttt-color-alert-alpha-800: #fb3e28a3;
  --ttt-color-alert-alpha-900: #fb3e28cc;
  --ttt-color-alert-alpha-950: #fb3e28eb;
  --ttt-color-content-strong: #ffffff;
  --ttt-color-content-regular: #e4e6ea;
  --ttt-color-content-subtle: #98a5b2;
  --ttt-color-content-muted: #778795;
  --ttt-color-background-regular: #000000;
  --ttt-color-background-subtle: #080a0c;
  --ttt-color-background-muted: #121518;
}

